@font-face {
    font-family: 'Qanelas';
    src: url(../fonts/Qanelas-ExtraBold.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Qanelas';
    src: url(../fonts/Qanelas-Light.ttf);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Qanelas';
    src: url(../fonts/Qanelas-Medium.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Qanelas';
    src: url(../fonts/Qanelas-UltraLight.ttf);
    font-style: normal;
    font-weight: 100;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5ebee;
    font-family: 'Qanelas';
}
 
h1{
    font-family: 'Qanelas';
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 3rem;
}

h2 {
    font-family: 'Qanelas';
    font-size: 50px;
    text-align: center;
}

a{
    text-decoration: none;
    justify-content: space-between;
    font-family: 'Qanelas';
    font-weight: 200;
}
p {
    font-weight: 100;
}

.navPrincipal__buttons--link {
    color: black;
    font-weight: 300;
}

.navPrincipal {
    text-decoration: none;
    text-align: center;
    margin-bottom: 2rem;
    color: black;
    font-family: 'Qanelas';
    font-weight: 200;
}

.navPrincipal__buttons{
    margin: auto;
    justify-content: center;
    display: flex;
    align-content: space-between;
    column-gap: 20px;
}

@media (min-width: 768px) { 
    .navPrincipal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .navPrincipal__buttons{
        margin: auto;
        justify-content: center;
    }
}

.spacer {
    min-width: 150px;
    height: 1px;
}

@media (min-width: 768px) { 
    .contenidoPrincipal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        
    }
    .contenidoPrincipal__texto {
        margin-left: 2rem;
       
    }
    .contenidoPrincipal__imagen {
        margin-right: 2rem;
    }
}

.contenidoPrincipal__texto--p {
    font-size: 20px;
}

.boton {
    margin-top: 1.5rem;
    padding: 20px 40px;
    font-family: 'Qanelas';
    font-weight: 300;
    font-size: 20px;
    background-color: #F5ebee;
    text-align: center;
    border-radius: 50px;
    border-color: black;
}

.boton {
    transition-duration: 0.4s;
  }
  
  .boton:hover {
    background-color: black; 
    color: white;
    cursor: pointer;
  }


@media (min-width: 768px) { 
    footer {
        background-color: #58494e;
        font-family: 'Qanelas';
        font-weight: 200;
        width: 100%;
    }
    
    .navPrincipal__enlaces {
        color: white;
    }
    .footer__p {
        text-align: center;
        color: white;
    }
}

@media (max-width: 480px) { 
    footer {
        background-color: #58494e;
        font-family: 'Qanelas';
        font-weight: 200;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .navPrincipal__buttons {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .navPrincipal__enlaces {
        color: white;
        text-decoration: none;
    }

    .footer__p {
        text-align: center;
        color: white;
    }
 }

 @media (max-width: 480px) { 
    .contenidoPrincipal {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    .contenidoPrincipal__texto {
        text-align: center;
        margin-bottom: 3rem;
       
    }
    .imagenPrincipal {
        width: auto;
        max-height: 500px;
    }

    h1 {
        font-size: 40px;

    }

  }



/** Seccion Contacto **/

.bloque {
    display: flex;
    width: auto;
    min-height: 500px;
    margin: 50px;
    background-color: white;
    justify-content: center;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}
.bloque__Uno {
    background-color: #8D62D7;
    color: white;
    border-radius: 16px;
    width: 30%;
}

.bloque__Dos {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0px 16px 16px 0px;
    width: 70%;
}

.bloque__Uno--text {
    text-align: center;
    margin-top: 2rem;
}

.margin_30 {
    margin: 10px 30px 0px 30px;
}

.flex_row {
    display: flex;
    margin: 30px 0px 0px 0px;
}

.bloque__flex {
    display: flex;
    margin: 0px 0px 0px 0px;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
}

.bloque__margin {
    margin: auto;
}

.enviarBoton {
    font-family: 'Qanelas';
    font-weight: 300;
    font-size: 20px;
    color: white;
    background-color:  #8D62D7;
    text-align: center;
    border-radius: 20px;
}

.enviarBoton:hover {
    cursor: pointer;
}

.form__input {
    border: none;
    border-bottom-style: solid;
}

/*seccion tipos de terapias*/

.box {
    background-color: white;
    min-height: 200px;
    width: 200px;
    margin: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(240,195,240,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(240,195,240,1);
    box-shadow: 10px 10px 5px 0px rgba(240,195,240,1);
    text-align: center;
    transform: translateY(-480px);
}

.grid { 
    display: grid;
    position: relative;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    'left' 'center' 'right'
    'left-bottom center right-bottom';
    margin-top: 5rem;
}

.box__p {
    font-weight: 300;
    font-size: 20px;
    margin-top: 5rem;
}

.grid__uno {
    grid-area: 'center';
    grid-column: 2/3;
}

.grid__dos {
    grid-area: 'left';
    grid-column: 1/3;
    margin-left: 3rem;
}

.grid__tres {
 grid-area: 'left-bottom';
 margin-left: 5rem;
}

.grid__cuatro {
    grid-area: 'right';
    margin-left: 3rem;
   
}

.grid__cinco {
    grid-area: 'right-bottom';
    grid-column: -2/-1;
    margin-left: 5rem;
}

/*seccion reservas*/

.flex {
        display: grid;
        grid-template-columns: 1fr 1fr;

}

.reservaBloque {
    align-items: center;
    margin-top: 3rem;
}

.reservaBloque__p {
    text-align: center;
    margin-top: 3rem;
    margin-left: 2rem;
}

.formulario {
    width: 500px;
    min-height: 600px;
    margin: 50px;
    background-color: white;
    justify-content: center;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}

.form__decor {
    font-family: 'Qanelas';
    font-weight: 100;
    background-color: #F5ebee;
    border: none;
    height: 40px;
}

.form__label {
    font-family: 'Qanelas';
    font-weight: 200;
}

.submit {
    margin-top: 1.5rem;
    padding: 20px 20px;
    font-family: 'Qanelas';
    font-weight: 300;
    font-size: 20px;
    color: white;
    background-color:  #8D62D7;
    text-align: center;
    border-radius: 20px;
}

.submit:hover {
    cursor: pointer;
}

/*seccion sobre mi-mas info*/

.columnas__p {
    text-align: center;
}