@font-face {
    font-family: 'Qanelas';
    src: url(../fonts/Qanelas-ExtraBold.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Qanelas';
    src: url(../fonts/Qanelas-Light.ttf);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Qanelas';
    src: url(../fonts/Qanelas-Medium.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Qanelas';
    src: url(../fonts/Qanelas-UltraLight.ttf);
    font-style: normal;
    font-weight: 100;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: #F5ebee;
    font-family: 'Qanelas';
    min-height: 100%;
}

h1 {
    font-family: 'Qanelas';
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 3rem;
}

h2 {
    font-family: 'Qanelas';
    font-size: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    justify-content: space-between;
    font-family: 'Qanelas';
    font-weight: 200;
}

p {
    font-weight: 100;
}

.footer-image{
    width: 100px;
    height: 100px;
}


.navPrincipal {
    text-decoration: none;
    text-align: center;
    margin-bottom: 2rem;
    color: black;
    font-family: 'Qanelas';
    font-weight: 200;
}

.navPrincipal__buttons {
    margin: auto;
    justify-content: center;
    display: flex;
    align-content: space-between;
    column-gap: 20px;
}

.navbar-auto {
    margin: 0 auto;
}

.collapse-padding {
    padding-right: 100px;
}

@media (min-width: 600px) {
    .navPrincipal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .navPrincipal__buttons {
        margin: auto;
        justify-content: center;
    }
}

.spacer {
    min-width: 150px;
    height: 1px;
}

.contenidoPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.contenidoPrincipal__texto {
    padding-left: 2rem;
}

.contenidoPrincipal__imagen {
    margin-right: 2rem;
    width: 100%;
}

.imagenPrincipal {
    width: 80%;
}

.navPrincipal__logo {
    width: 150px;
}

@media (min-width: 769px) and (max-width: 900px) {
    .contenidoPrincipal {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 3rem;

    }

    .contenidoPrincipal__texto {
        padding-left: 2rem;
        margin-bottom: 3rem;
    }

    .contenidoPrincipal__imagen {
        margin-right: 2rem;
        width: 100%;
    }
}

.contenidoPrincipal__texto--p {
    font-size: 20px;
}

.boton {
    margin-top: 1.5rem;
    padding: 20px 40px;
    font-family: 'Qanelas';
    font-weight: 300;
    font-size: 20px;
    background-color: #F5ebee;
    text-align: center;
    border-radius: 50px;
    border-color: black;
}

.boton {
    transition-duration: 0.4s;
}

.boton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


@media (min-width: 600px) {
    footer {
        background-color: #58494e;
        font-family: 'Qanelas';
        font-weight: 200;
        width: 100%;
    }

    .navPrincipal__enlaces {
        color: white;
        font-size: 15px;
    }

    .footer__p {
        text-align: center;
        color: white;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    footer {
        background-color: #58494e;
        font-family: 'Qanelas';
        font-weight: 200;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .navPrincipal__buttons {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-align: center;
    }

    .navPrincipal__enlaces {
        color: white;
        text-decoration: none;
    }

    .footer__p {
        text-align: center;
        color: white;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .contenidoPrincipal {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }

    .contenidoPrincipal__texto {
        padding-left: 2rem;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 0;
       align-items: center;
    }

    .imagenPrincipal {
        width: 100%;

    }

    h1 {
        font-size: 40px;

    }

}



/** Seccion Contacto **/

.bloque {
    display: flex;
    width: auto;
    min-height: 500px;
    margin: 50px;
    background-color: white;
    justify-content: center;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

.bloque__Uno {
    background-color: #8D62D7;
    color: white;
    border-radius: 16px;
    width: 30%;
}

.bloque__Dos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    background-color: white;
    border-radius: 0px 16px 16px 0px;
    width: 70%;
}

.contacto_p {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) {

    .contenidoForm1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1fr);
        grid-column-gap: 36px;
        grid-row-gap: 26px;
        margin-left: 2rem;
    }

    .nombre {
        grid-area: 1/1;
        font-family: 'Qanelas';
        font-weight: 400;
        font-size: 20px;
    }


    .nombre__input {
        grid-area: 2/1;
    }

    .apellido {
        grid-area: 1/2;
        font-family: 'Qanelas';
        font-weight: 400;
        font-size: 20px;
    }

    .apellido__input {
        grid-area: 2/2;
    }

    .contenidoForm2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 2fr;
        grid-column-gap: 36px;
        grid-row-gap: 10px;
    }

    .mensaje {
        grid-area: 1/1;
        margin-left: 2rem;
        font-family: 'Qanelas';
        font-weight: 400;
        font-size: 20px;
    }

    .mensaje__input {
        grid-area: 2/1;
        margin-left: 2rem;
    }

    textarea {
        display: block;
        box-sizing: border-box;
        width: 95%;
        padding: 0.5rem 0.75rem;
        font-family: 'Qanelas';
        font-weight: 200;
        height: 90px;
    }

    .titulo__form {
        font-size: 35px;
    }

    input {
        width: 90%;
    }
}

.bloque__Uno--text {
    text-align: center;
    margin-top: 2rem;
}

.margin_30 {
    font-size: 15px;
    margin: 10px 30px 0px 30px;
}

.flex_row {
    display: flex;
    margin: 30px 0px 0px 0px;
}

.bloque__flex {
    display: flex;
    margin: 0px 0px 0px 0px;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
}

.bloque__margin {
    margin: auto;
}

.enviarBoton {
    font-family: 'Qanelas';
    font-weight: 300;
    font-size: 20px;
    color: white;
    background-color: #8D62D7;
    text-align: center;
    border-radius: 20px;
    width: 20%;
    height: 60px;
}

.flex__boton {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

.enviarBoton:hover {
    cursor: pointer;
}

.form__input {
    border: none;
    border-bottom-style: groove;
}

@media (max-width: 768px) {
    .bloque {
        display: flex;
        flex-direction: column;
        width: auto;
        min-height: 500px;
        margin: 50px;
        background-color: white;
        justify-content: center;
        border-radius: 16px 16px 16px 16px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
    }

    .bloque__Uno {
        width: 100%;
    }

    .bloque__Dos {
        width: 100%;
        border-bottom-left-radius: 16px;
    }

    .contacto_p {
        font-weight: 700;
    }

    input {
        width: 90%;
    }

    .titulo__form {
        width: 100%;
        font-size: 30px;
    }

    .contenidoForm1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1fr);
        grid-column-gap: 36px;
        grid-row-gap: 26px;
        margin-left: 2rem;
    }

    .nombre {
        grid-area: 1/1;
        font-family: 'Qanelas';
        font-weight: 400;
        font-size: 20px;
    }


    .nombre__input {
        grid-area: 2/1;
    }

    .apellido {
        grid-area: 1/2;
        font-family: 'Qanelas';
        font-weight: 400;
        font-size: 20px;
    }

    .apellido__input {
        grid-area: 2/2;
    }

    .contenidoForm2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 2fr;
        grid-column-gap: 36px;
        grid-row-gap: 10px;
        margin-left: 2rem;
    }

    .mensaje {
        grid-area: 1/1;
        font-family: 'Qanelas';
        font-weight: 400;
        font-size: 20px;
    }

    .mensaje__input {
        grid-area: 2/1;
    }

    textarea {
        display: block;
        box-sizing: border-box;
        width: 95%;
        padding: 0.5rem 0.75rem;
        font-family: 'Qanelas';
        font-weight: 200;
        height: 90px;
    }

    .enviarBoton {
        font-family: 'Qanelas';
        font-weight: 300;
        font-size: 20px;
        color: white;
        background-color: #8D62D7;
        text-align: center;
        border-radius: 20px;
        width: 40%;
        height: 60px;
    }

    .flex__boton {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

}

/*seccion tipos de terapias*/

.titulo-margin {
    margin-bottom: 5rem;
}

.box-2{
    background-color: white;
    min-height: 200px;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    transition: all 0.3s ease-in-out;
}

.box::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 200px;
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.2, 1.2);
}

.box:hover::after {
    opacity: 1;
}

.box__p {
    font-weight: 300;
    font-size: 20px;
}

.shadow{
    box-shadow: 0 .5rem 1rem rgba(240,195,240,1)!important;
}

/* @media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 0px;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .grid__uno {
        grid-area: 1/2;
    }

    .grid__dos {
        grid-area: 1/3;
    }

    .grid__tres {
        grid-area: 1/1;
        margin-left: 3rem;
    }

} */

/* @media (min-width: 300px) and (max-width: 768px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .grid__uno {
        display: flex;
        justify-content: center;
    }

    .grid__dos {
        display: flex;
        box-sizing: content-box;
        width: 100%;

        justify-content: center;
    }

    .grid__tres {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .box {
        width: 100%;
    }
} */

/*seccion reservas*/

.flex {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.reservaBloque {
    align-items: center;
    margin-top: 3rem;
}

.reservaBloque__p {
    text-align: center;
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 25px;
}

.formulario {
    width: 500px;
    min-height: 600px;
    margin: 50px;
    background-color: white;
    justify-content: center;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

.form__decor {
    font-family: 'Qanelas';
    font-weight: 100;
    background-color: #F5ebee;
    border: none;
    height: 40px;
}

.form__label {
    font-family: 'Qanelas';
    font-weight: 200;
}

.submit {
    margin-top: 1.5rem;
    padding: 20px 20px;
    font-family: 'Qanelas';
    font-weight: 300;
    font-size: 20px;
    color: white;
    background-color: #8D62D7;
    text-align: center;
    border-radius: 20px;
}

.submit:hover {
    cursor: pointer;
}

@media (min-width: 800px) {
    .form__label {
        margin-top: 1.5rem;

    }

    .formulario__uno {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1fr);
        grid-column-gap: 36px;
        grid-row-gap: 26px;
        margin-left: 2rem;
    }

    .form__nombre {
        grid-area: 1/1;
        font-family: 'Qanelas';
        font-weight: 200;
        font-size: 20px;
    }


    .form__nombre--input {
        grid-area: 2/1;
    }

    .form__apellido {
        grid-area: 1/2;
        font-family: 'Qanelas';
        font-weight: 200;
        font-size: 20px;
    }

    .apellido--input {
        grid-area: 2/2;
    }

    .gridForm__reserva {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
        grid-column-gap: 36px;
        grid-row-gap: 26px;
        margin-left: 2rem;
    }

    .grid--reserva {
        grid-area: 1/1;
        font-family: 'Qanelas';
        font-size: 20px;
        font-weight: 200;

    }


    .reserva--input {
        grid-area: 2/1;
    }

    .boton__reservar {
        margin-top: 4rem;
        text-align: center;
        width: 50%;
        transform: translateX(12rem);
    }


}

@media (max-width: 799px) {
    .flex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
        justify-content: center;
        align-items: center;
    }

    .reservaBloque {
        grid-area: 1/1;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .form {
        display: flex;
        justify-content: center;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .formulario__uno {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form__decor {
        width: 80%;
    }

    .gridForm__reserva {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boton__reservar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form__label {
        font-size: 18px;
    }
}

/*seccion sobre mi-mas info*/

.columnas__p {
    text-align: center;
    font-size: 20px;
}

.titulos {
    margin-top: 4rem;
    margin-bottom: 5rem;
}

@media (max-width: 400px) {
    .ColumnaDos__flex {
        display: flex;
    }

    .columna--margin {
        width: 40%;
        margin-left: 1rem;
    }

    iframe {
        width: 50%;
        margin-left: 2rem;
    }
}

/* hamburguesa nav  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #E2E8F0;
}

.nav-background {
    background-color: #F5ebee;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 200;
    color: #000;
}


.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 120px;
        flex-direction: column;
        background-color: #8D62D7;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .spacer {
        display: none;
    }

    .nav-link {
        font-size: 1.6rem;
        font-weight: 400;
        color: #fff;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link:hover {
        color: #F5ebee;
    }

    .nav-item {
        margin: 1.2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 20px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}