@import "variablesfunciones";
header {
    nav {
        div {
            .collapse-padding {
                padding-right: 100px; 
                
                .navbar-auto {
                    margin: 0 auto;
                }
                ul {
                    .nav-item {
                        margin-left: 5rem;
                        .nav-link {
                            font-size: 1.6rem;
                            font-weight: 200;
                            color: map-get($map: $palette, $key: 'black');
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: #58494e;
    font-family: 'Qanelas';
    font-weight: 200;
    width: 100%;

    div {
        div{
            .footer__p {
                text-align: center;
                color: map-get($map: $palette, $key: 'secundario');
                margin-top: 2rem;
                margin-bottom: 2rem;
            }

            div{
                .navPrincipal__buttons {
                    margin: auto;
                    justify-content: center;
                    display: flex;
                    align-content: space-between;
                    column-gap: 20px;

                    .navPrincipal__enlaces {
                        color: map-get($map: $palette, $key: 'secundario');
                        font-size: 15px;
                    }
                }
                a {
                    .footer-image{
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    div{
        div {
            div {
                .navPrincipal__buttons {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                    text-align: center;
                }
            }
        }
    }
}


